#main{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}
#header{
    height: 150px;
    background-color: aquamarine;
}
#content{
    margin: 10px 0 10px 0;
    position: relative;
    background-color: chartreuse;
    min-height: 800px;
}

#footer{
    position: relative;
    background-color: darkred;
    height: 30px;
}

#loginPanel{
    float: right;
    margin: 10px;
    display: block;
    width: 200px;
    height: 100px;
}

input#user_id,input#user_password{
    display: inline-block;
    margin: 0 0 2px 0;
}

input[type='submit'] {
    display: block;
}

.registerNew{
    margin-top: 5px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover{
    opacity: 0.7;
}

#loggedPanel{
    float: right;
    margin: 90px 10px 10px 10px;
    display: block;
    width: 110px;
}