body {
    margin: 0;
    overflow: auto;
}
#main {
    margin: 0 auto;
    min-width: 950px;
}

#header {
    height: 150px;
    background: #328cc1 url(images/logo.png) no-repeat;
    background-blend-mode: luminosity;
}

#content {
    margin: 10px 0 10px 0;
    position: relative;
    background-color: #0b3c5d;
    min-height: calc(100% - 150px - 30px - 20px);
    color: white;
    overflow: auto;
    padding-bottom: 20px;
}

#footer {
    position: relative;
    background-color: #1d2731;
    height: 30px;
}

#loginPanel {
    float: right;
    margin: 20px 10px 10px;
    display: block;
    width: 200px;
    height: 100px;
    padding: 5px;
}

input#user_id, input#user_password {
    display: inline-block;
    margin: 0 0 2px 0;
}

input[type='submit'] {
    display: block;
}

.registerNew, .logoutUser {
    margin-top: 5px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    opacity: 0.7;
}

#loggedPanel {
    float: right;
    margin: 20px 10px 10px 10px;
    display: block;
    width: 110px;
}

#infoBox {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -201.5px;
    max-width: 400px;
    width: 500px;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 6px;
    display: none;
    border-radius: 10px;
}

.success {
    background-color: darkgreen;
}

.failed {
    background-color: darkred;
}

#userMenu {
    width: 100%;
    height: 35px;
}

.userMenuButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #c9c9c9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c9c9c9;
    box-shadow: inset 0px 1px 0px 0px #c9c9c9;
    background-color: #c9c9c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c9c9c9;
    margin-left: 5px;
    margin-top: 5px;
}

.innerContent {
    padding: 30px;
}

#contentTitle {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#contentData {
    font-size: 20px;
    margin-top: 10px;
}

#contentData p {
    font-size: 18px;
}

#contentData input[type='text'] {
    margin-left: 10px;
}

#dataContainer {
    display: none;
}

.yesValue {
    display: none;
    margin-left: 20px;
    width: 60px;
    margin-bottom: -1px;
}

.mainResult {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 0 0;
}

.bold {
    font-weight: bold;
}

.auditResults {
    margin: 20px auto;
    text-align: justify;
}

.otherResult {
    text-align: justify;
    font-size: 20px;
}

.otherResultHeader {
    text-align: center;
}

.resultSpider {
    display: block;
    margin: 0 auto;
}

.otherResultPercent {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.otherResultDesc {
    margin-top: 5px;
}

.resultSeparator {
    border-bottom: 1px solid;
    margin: 0 auto 10px auto;
    width: 50%;
}

.auditResultHeader {
    margin-bottom: 5px;
    text-align: center;
}

.importantSpan {
    font-style: italic;
    font-weight: bold;
}

.auditorData {
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
}

.auditedCompany span {
    display: block;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    font-size: smaller;
}

input[type=radio]:checked + label {
    color: #ccc8ce;
    background: #1d2731;
}

label + input[type=radio] + label {
    border-left: solid 3px #1d2731;
}

.radio-group {
    border: solid 3px #1d2731;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.questionLabel {
    display: block;
}

.hidden {
    display: none;
}

table {
    color: white;
}

textarea {
    display: block;
    margin: 10px 0;
}

#newIdeaForm {
    margin: 10px;
}

#ideaType {
    display: inline-block;
}

#tableWrapper {
    display: block;
    margin: 0 auto;
    padding: 10px 17px;
    overflow: auto;
}

.myTable thead {
    background: #1d2731;
}

.myTable thead tr th {
    font-weight: bold;
    padding: 12px 30px 12px 42px;
    max-width: 150px;
    word-wrap: break-word;
}

.tableTR td {
    text-align: center;
    padding: 15px 10px;
    max-width: 150px;
    word-wrap: break-word;
}

.tableTR {
}

.myTable .widestCol {
    max-width: 350px;
}

.ideaOption {
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.moreInfoTR td {
    color: silver;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
}

.moreInfo {
    cursor: pointer;
}

.moreInfo:hover {
    background-color: #1d2731;
}

.overlayWindow {
    display: block;
    position: absolute;
    border: 1px solid #1d2731;
    background: #328cc1;
    overflow: auto;
    z-index: 15;
}

.overlayTitle {
    font-size: 15pt;
    text-align: center;
    margin: 5px;
    padding: 13px;
    border-bottom: 1px solid #1d2731;
}

.overlayContent {
    padding: 10px;
}

.overlayButtons {
    position: absolute;
    bottom: 0px;
    margin: 10px;
}

#ideaOpinionAuthor {
    font-size: 17pt;
}

#ideaOpinionContent {
    margin-top: 20px;
    font-style: italic;
}

#overlayBG {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
    top: 0;
    left: 0;
}

.style-select {
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
}

.tableHeader {
    font-size: 15pt;
    margin: 40px 0 20px 0;
    display: block;
    font-weight: bold;
    text-align: center;
}

.style-select select {
    padding: 0;
    width: 100%;
}

.style-select select option {
    padding: 4px 10px 4px 10px;
}

.style-select select option:hover {
    background: #EEEEEE;
}

.subject-info-box-1, .subject-info-box-2 {
    float: left;
    width: 43%;
}

.subject-info-box-1 select {
    height: 300px;
    padding: 0;
}

.subject-info-box-2 select {
    height: 300px;
    padding: 0;
}

.subject-info-box-1 select option {
    padding: 4px 10px 4px 10px;
}

.subject-info-box-2 select option {
    padding: 4px 10px 4px 10px;
}

.subject-info-box-2 select option:hover {
    background: #EEEEEE;
}

.subject-info-box-1 select option:hover {
    background: #EEEEEE;
}

.subject-info-arrows {
    float: left;
    width: 10%;
}

.subject-info-arrows input {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.swotResult {
    display: block;
    margin: 10px;
}

#auditOverviewTab input[type='text'] {
    margin: 10px;
}

.ui-datepicker th {
    color: black;
}

#overviewContent {
    display: block;
    text-align: justify;
}

.swotOverviewIcon {
    width: 15px;
    margin-right: 5px;

}